<footer class="container-fluid">
    <div class="row">
        <div class="col-md-8 col-md-offset-2">
            <ul class="list-inline pull-right">
                <li><a href="mailto:nikhil.h.pai@gmail.com"><i class="fa fa-envelope"></i></a></li>
                <li><a href="www.github.com/nikhilpi"><i class="fa fa-github"></i></a></li>
                <li><a href="www.linkedin.com/in/nikhilpi"><i class="fa fa-linkedin-square"></i></a></li>
            </ul>
        </div>
    </div>
</footer>